{% extends "base.html" %}
{% load static %}

    
{% block styles %}
    <link rel="stylesheet" href= "{% static 'index.css'%}">
    <style>
        body {
            background-image: url("{%static 'bg.jpg'%}") ;
            height: 100%; 

            /* Center and scale the image nicely */
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

{% endblock styles %}


{% block content %}

    <div class="main-heading">
        <span class="border">Book Your</span>
        <br>
        <span class="border">Parking Space</span><br><br><br>
        <input type="button" class="btn btn-custom" value="Availabe" onclick="book()"> 
    </div>
    

{% endblock content %}


{% block script %}
<script type="text/javascript">
    function book() {
        window.location = "/book";
    }
</script>
{% endblock script %}